*{
  background-color:#E6FFFD ;
}
.coupon{
  overflow: hidden;
  background-color: #ACBCFF;
  height:50px;
}
.coupon button{
  float:left;
  width: 96px;
  height: 35px;
  margin-top: auto;
  display: flex;
  cursor: pointer;
  background-color: #B799FF;
  border:none;
  border-radius: 5px;
padding-top: 7px;
  padding-left: 20px;
  margin-right: 60px;
 margin-top: 7PX;
 
  font-size: 15px;
}


.coupon button:hover{
  background-color: #977fce;
}

